INPUT {
    font:9pt Arial;
    font-weight: bold;
    margin-left: 50;
}
    
.buttons {
    width: 800;
    text-align: right;
}

.info {
    font-size: 10pt;
    margin-bottom: 6px;
    float: left;
}
